.login {
  padding-top: 34px;
  /* text-align: center; */
  max-width: 1140px;
  margin: 0px auto;
}
.login_header {
  text-align: center;
}
.img {
  width: 100px;
  height: 100px;
}
.form_group {
  margin-bottom: 8px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.input_dev {
  display: flex;
  flex-direction: column;
}
.form_group .input_dev label {
  /* border: 1px solid red; */
}
.form_group .input_dev input {
  width: 300px;
}
.login_div {
  display: flex;
  justify-content: center;
}
.login_btn {
  width: 300px;
}
